@charset "UTF-8";


@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}
 
body{
font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}

.content{
	margin-top:100px;
}



